# The Complete Guide to Polars for Data Science

This is part of the original article [The Complete Guide to Polars for Data Science](https://noroinsight.com/polars-for-data-science-complete-guide/)

## Dataset & Code Repository

This guide uses the Customer Transactions & Spending Dataset (1M Rows), which includes customer demographics, spending behavior, and payment details. You can access the dataset and follow along with the exercises:

    Kaggle Dataset: Customer Transactions & Spending (1M Rows)
    GitHub Repository: Polars-Tutorial (Code and dataset)

## 1. Setup

In [1]:
# Install polars
!pip install polars -q

In [2]:
# Import libraries
import polars as pl
import datetime as dt

In [3]:
# Setting Display Options
import polars as pl

pl.Config.set_tbl_rows(10)  # Show 10 rows
pl.Config.set_tbl_cols(12)   # Show 5 columns
pl.Config.set_fmt_str_lengths(50)  # Increase max string column width

polars.config.Config

## 2. Loading and Saving Data

**Reading CSV Files**

In [61]:
# Reading CSV Files
# Locate your file location
df = pl.read_csv("/content/drive/MyDrive/polars_dataset/customer_spending_1M_2018_2025.csv", try_parse_dates=True)
df.head()

shape: (5, 11)
┌─────────┬─────────┬────────┬─────┬─────────┬────────┬────────┬────────┬────────┬────────┬────────┐
│ Transac ┆ Transac ┆ Gender ┆ Age ┆ Marital ┆ State_ ┆ Segmen ┆ Employ ┆ Paymen ┆ Refera ┆ Amount │
│ tion_ID ┆ tion_da ┆ ---    ┆ --- ┆ _status ┆ names  ┆ t      ┆ ees_st ┆ t_meth ┆ l      ┆ _spent │
│ ---     ┆ te      ┆ str    ┆ i64 ┆ ---     ┆ ---    ┆ ---    ┆ atus   ┆ od     ┆ ---    ┆ ---    │
│ i64     ┆ ---     ┆        ┆     ┆ str     ┆ str    ┆ str    ┆ ---    ┆ ---    ┆ i64    ┆ f64    │
│         ┆ datetim ┆        ┆     ┆         ┆        ┆        ┆ str    ┆ str    ┆        ┆        │
│         ┆ e[μs]   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
╞═════════╪═════════╪════════╪═════╪═════════╪════════╪════════╪════════╪════════╪════════╪════════╡
│ 1000    ┆ 2018-01 ┆ Female ┆ 39  ┆ Single  ┆ Oklaho ┆ Platin ┆ Unempl ┆ Card   ┆ 0      ┆ 1557.5 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ ma     ┆ um     ┆ oyment ┆        ┆        ┆        │
│         ┆ 04:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1001    ┆ 2018-01 ┆ Male   ┆ 34  ┆ Married ┆ Hawaii ┆ Basic  ┆ worker ┆ PayPal ┆ 1      ┆ 153.55 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆        ┆ s      ┆        ┆        ┆        │
│         ┆ 06:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ …       ┆ …       ┆ …      ┆ …   ┆ …       ┆ …      ┆ …      ┆ …      ┆ …      ┆ …      ┆ …      │
│ 1003    ┆ 2018-01 ┆ Male   ┆ 33  ┆ Married ┆ Wiscon ┆ Basic  ┆ self-e ┆ Card   ┆ 1      ┆ 293.58 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ sin    ┆        ┆ mploye ┆        ┆        ┆        │
│         ┆ 23:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1004    ┆ 2018-01 ┆ Female ┆ 36  ┆ Married ┆ Texas  ┆ Platin ┆ Employ ┆ Card   ┆ 0      ┆ 1608.0 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆ um     ┆ ees    ┆        ┆        ┆ 1      │
│         ┆ 25:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
└─────────┴─────────┴────────┴─────┴─────────┴────────┴────────┴────────┴────────┴────────┴────────┘

**Reading Other File Formats**

In [ ]:
# Read a Parquet file (Recommended for large datasets)
df_parquet = pl.read_parquet("dataset/online_store_data.parquet")

# Read a JSON file
df_json = pl.read_json("dataset/customer_data.json")

# Read an IPC/Feather file (Optimized for fast in-memory processing)
df_ipc = pl.read_ipc("dataset/online_store_data.feather")

# Read an Avro file (Commonly used for efficient data pipelines)
df_avro = pl.read_avro("dataset/online_store_data.avro")

**Reading CSV with Additional Parameters**

In [5]:
df_add = pl.read_csv(
    "/content/drive/MyDrive/polars_dataset/customer_spending_1M_2018_2025.csv",
    dtypes={"Transaction_ID": pl.Int64, "Amount_spent": pl.Float64},  # Define column types
    skip_rows=2  # Skip first two rows if they contain metadata
)

<ipython-input-5-2ec312bfd4d8>:1: DeprecationWarning: The argument `dtypes` for `read_csv` is deprecated. It has been renamed to `schema_overrides`.
  df_add = pl.read_csv(

**Handling Headers in Raw Data**

In [6]:
df_raw_data = pl.read_csv(
    "/content/drive/MyDrive/polars_dataset/customer_spending_1M_2018_2025.csv",
    has_header=True  # Ensures the first row is treated as headers
)

**Reading CSV from a URL**

In [7]:
df_url = pl.read_csv("https://raw.githubusercontent.com/norochalise/pandas-tutorial-article-2022/refs/heads/main/dataset/online_store_customer_data.csv")

**Streaming Large Datasets with scan_csv()**

In [8]:
df_stream = pl.scan_csv("/content/drive/MyDrive/polars_dataset/customer_spending_1M_2018_2025.csv")

# Apply filtering before loading into memory
df_filtered = df_stream.filter(pl.col("Amount_spent") > 50)

# Collect to load the required data into memory
df_final = df_filtered.collect()
df_final.head(3)

shape: (3, 11)
┌─────────┬─────────┬────────┬─────┬─────────┬────────┬────────┬────────┬────────┬────────┬────────┐
│ Transac ┆ Transac ┆ Gender ┆ Age ┆ Marital ┆ State_ ┆ Segmen ┆ Employ ┆ Paymen ┆ Refera ┆ Amount │
│ tion_ID ┆ tion_da ┆ ---    ┆ --- ┆ _status ┆ names  ┆ t      ┆ ees_st ┆ t_meth ┆ l      ┆ _spent │
│ ---     ┆ te      ┆ str    ┆ i64 ┆ ---     ┆ ---    ┆ ---    ┆ atus   ┆ od     ┆ ---    ┆ ---    │
│ i64     ┆ ---     ┆        ┆     ┆ str     ┆ str    ┆ str    ┆ ---    ┆ ---    ┆ i64    ┆ f64    │
│         ┆ str     ┆        ┆     ┆         ┆        ┆        ┆ str    ┆ str    ┆        ┆        │
╞═════════╪═════════╪════════╪═════╪═════════╪════════╪════════╪════════╪════════╪════════╪════════╡
│ 1000    ┆ 2018-01 ┆ Female ┆ 39  ┆ Single  ┆ Oklaho ┆ Platin ┆ Unempl ┆ Card   ┆ 0      ┆ 1557.5 │
│         ┆ -01T00: ┆        ┆     ┆         ┆ ma     ┆ um     ┆ oyment ┆        ┆        ┆        │
│         ┆ 04:00.0 ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│         ┆ 00000   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1001    ┆ 2018-01 ┆ Male   ┆ 34  ┆ Married ┆ Hawaii ┆ Basic  ┆ worker ┆ PayPal ┆ 1      ┆ 153.55 │
│         ┆ -01T00: ┆        ┆     ┆         ┆        ┆        ┆ s      ┆        ┆        ┆        │
│         ┆ 06:00.0 ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│         ┆ 00000   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1002    ┆ 2018-01 ┆ Female ┆ 53  ┆ Married ┆ Iowa   ┆ Basic  ┆ self-e ┆ PayPal ┆ 1      ┆ 2640.9 │
│         ┆ -01T00: ┆        ┆     ┆         ┆        ┆        ┆ mploye ┆        ┆        ┆ 6      │
│         ┆ 14:00.0 ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│         ┆ 00000   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
└─────────┴─────────┴────────┴─────┴─────────┴────────┴────────┴────────┴────────┴────────┴────────┘

**Saving Data Files**

In [9]:
# Save DataFrame as CSV
df.write_csv("customer_data.csv")

# Save DataFrame as Parquet (recommended for large datasets)
df.write_parquet("customer_data.parquet")

# Save DataFrame as JSON
df.write_json("customer_data.json")

# Save DataFrame as IPC/Feather
df.write_ipc("customer_data.feather")

## 3. Data Exploration and Manipulation

### Viewing Data (Head, Tail, Schema, Describe)

**Checking the First Few Rows**

In [28]:
df.head()  # Shows the first 5 rows

shape: (5, 11)
┌─────────┬─────────┬────────┬─────┬─────────┬────────┬────────┬────────┬────────┬────────┬────────┐
│ Transac ┆ Transac ┆ Gender ┆ Age ┆ Marital ┆ State_ ┆ Segmen ┆ Employ ┆ Paymen ┆ Refera ┆ Amount │
│ tion_ID ┆ tion_da ┆ ---    ┆ --- ┆ _status ┆ names  ┆ t      ┆ ees_st ┆ t_meth ┆ l      ┆ _spent │
│ ---     ┆ te      ┆ str    ┆ i64 ┆ ---     ┆ ---    ┆ ---    ┆ atus   ┆ od     ┆ ---    ┆ ---    │
│ i64     ┆ ---     ┆        ┆     ┆ str     ┆ str    ┆ str    ┆ ---    ┆ ---    ┆ i64    ┆ f64    │
│         ┆ datetim ┆        ┆     ┆         ┆        ┆        ┆ str    ┆ str    ┆        ┆        │
│         ┆ e[μs]   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
╞═════════╪═════════╪════════╪═════╪═════════╪════════╪════════╪════════╪════════╪════════╪════════╡
│ 1000    ┆ 2018-01 ┆ Female ┆ 39  ┆ Single  ┆ Oklaho ┆ Platin ┆ Unempl ┆ Card   ┆ 0      ┆ 1557.5 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ ma     ┆ um     ┆ oyment ┆        ┆        ┆        │
│         ┆ 04:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1001    ┆ 2018-01 ┆ Male   ┆ 34  ┆ Married ┆ Hawaii ┆ Basic  ┆ worker ┆ PayPal ┆ 1      ┆ 153.55 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆        ┆ s      ┆        ┆        ┆        │
│         ┆ 06:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1002    ┆ 2018-01 ┆ Female ┆ 53  ┆ Married ┆ Iowa   ┆ Basic  ┆ self-e ┆ PayPal ┆ 1      ┆ 2640.9 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆        ┆ mploye ┆        ┆        ┆ 6      │
│         ┆ 14:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1003    ┆ 2018-01 ┆ Male   ┆ 33  ┆ Married ┆ Wiscon ┆ Basic  ┆ self-e ┆ Card   ┆ 1      ┆ 293.58 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ sin    ┆        ┆ mploye ┆        ┆        ┆        │
│         ┆ 23:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1004    ┆ 2018-01 ┆ Female ┆ 36  ┆ Married ┆ Texas  ┆ Platin ┆ Employ ┆ Card   ┆ 0      ┆ 1608.0 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆ um     ┆ ees    ┆        ┆        ┆ 1      │
│         ┆ 25:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
└─────────┴─────────┴────────┴─────┴─────────┴────────┴────────┴────────┴────────┴────────┴────────┘

**Viewing the Last Few Rows**

In [29]:
df.tail()  # Shows the last 5 rows

shape: (5, 11)
┌─────────┬─────────┬────────┬─────┬─────────┬────────┬────────┬────────┬────────┬────────┬────────┐
│ Transac ┆ Transac ┆ Gender ┆ Age ┆ Marital ┆ State_ ┆ Segmen ┆ Employ ┆ Paymen ┆ Refera ┆ Amount │
│ tion_ID ┆ tion_da ┆ ---    ┆ --- ┆ _status ┆ names  ┆ t      ┆ ees_st ┆ t_meth ┆ l      ┆ _spent │
│ ---     ┆ te      ┆ str    ┆ i64 ┆ ---     ┆ ---    ┆ ---    ┆ atus   ┆ od     ┆ ---    ┆ ---    │
│ i64     ┆ ---     ┆        ┆     ┆ str     ┆ str    ┆ str    ┆ ---    ┆ ---    ┆ i64    ┆ f64    │
│         ┆ datetim ┆        ┆     ┆         ┆        ┆        ┆ str    ┆ str    ┆        ┆        │
│         ┆ e[μs]   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
╞═════════╪═════════╪════════╪═════╪═════════╪════════╪════════╪════════╪════════╪════════╪════════╡
│ 1000995 ┆ 2025-01 ┆ Male   ┆ 45  ┆ Single  ┆ Arkans ┆ Gold   ┆ Employ ┆ PayPal ┆ 1      ┆ 1762.7 │
│         ┆ -30 23: ┆        ┆     ┆         ┆ as     ┆        ┆ ees    ┆        ┆        ┆ 6      │
│         ┆ 43:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000996 ┆ 2025-01 ┆ Female ┆ 75  ┆ Married ┆ Virgin ┆ Silver ┆ worker ┆ Other  ┆ 1      ┆ 31.41  │
│         ┆ -30 23: ┆        ┆     ┆         ┆ ia     ┆        ┆ s      ┆        ┆        ┆        │
│         ┆ 45:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000997 ┆ 2025-01 ┆ Female ┆ 61  ┆ Married ┆ Kansas ┆ Basic  ┆ self-e ┆ Other  ┆ 1      ┆ 1699.3 │
│         ┆ -30 23: ┆        ┆     ┆         ┆        ┆        ┆ mploye ┆        ┆        ┆ 1      │
│         ┆ 47:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1000998 ┆ 2025-01 ┆ Female ┆ 68  ┆ Married ┆ Utah   ┆ Basic  ┆ Employ ┆ PayPal ┆ 1      ┆ 208.26 │
│         ┆ -30 23: ┆        ┆     ┆         ┆        ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 52:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000999 ┆ 2025-01 ┆ Male   ┆ 55  ┆ Single  ┆ Nevada ┆ Missin ┆ worker ┆ PayPal ┆ 0      ┆ 2063.9 │
│         ┆ -30 23: ┆        ┆     ┆         ┆        ┆ g      ┆ s      ┆        ┆        ┆ 2      │
│         ┆ 57:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
└─────────┴─────────┴────────┴─────┴─────────┴────────┴────────┴────────┴────────┴────────┴────────┘

**Retrieving Sample Rows from a DataFrame**

In [30]:
df.sample(n=4)

shape: (4, 11)
┌─────────┬─────────┬────────┬─────┬─────────┬────────┬────────┬────────┬────────┬────────┬────────┐
│ Transac ┆ Transac ┆ Gender ┆ Age ┆ Marital ┆ State_ ┆ Segmen ┆ Employ ┆ Paymen ┆ Refera ┆ Amount │
│ tion_ID ┆ tion_da ┆ ---    ┆ --- ┆ _status ┆ names  ┆ t      ┆ ees_st ┆ t_meth ┆ l      ┆ _spent │
│ ---     ┆ te      ┆ str    ┆ i64 ┆ ---     ┆ ---    ┆ ---    ┆ atus   ┆ od     ┆ ---    ┆ ---    │
│ i64     ┆ ---     ┆        ┆     ┆ str     ┆ str    ┆ str    ┆ ---    ┆ ---    ┆ i64    ┆ f64    │
│         ┆ datetim ┆        ┆     ┆         ┆        ┆        ┆ str    ┆ str    ┆        ┆        │
│         ┆ e[μs]   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
╞═════════╪═════════╪════════╪═════╪═════════╪════════╪════════╪════════╪════════╪════════╪════════╡
│ 683320  ┆ 2022-11 ┆ Male   ┆ 75  ┆ Single  ┆ Alaska ┆ Basic  ┆ worker ┆ Card   ┆ 1      ┆ 2497.3 │
│         ┆ -01 16: ┆        ┆     ┆         ┆        ┆        ┆ s      ┆        ┆        ┆ 1      │
│         ┆ 30:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 557336  ┆ 2021-12 ┆ Female ┆ 59  ┆ Single  ┆ Califo ┆ Silver ┆ self-e ┆ PayPal ┆ 1      ┆ null   │
│         ┆ -11 07: ┆        ┆     ┆         ┆ rnia   ┆        ┆ mploye ┆        ┆        ┆        │
│         ┆ 12:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 218772  ┆ 2019-07 ┆ Male   ┆ 25  ┆ Married ┆ North  ┆ Basic  ┆ self-e ┆ PayPal ┆ 1      ┆ null   │
│         ┆ -20 03: ┆        ┆     ┆         ┆ Caroli ┆        ┆ mploye ┆        ┆        ┆        │
│         ┆ 05:00   ┆        ┆     ┆         ┆ na     ┆        ┆ d      ┆        ┆        ┆        │
│ 286678  ┆ 2020-01 ┆ Female ┆ 58  ┆ Married ┆ Arkans ┆ Gold   ┆ worker ┆ Card   ┆ 1      ┆ 2602.8 │
│         ┆ -10 15: ┆        ┆     ┆         ┆ as     ┆        ┆ s      ┆        ┆        ┆ 1      │
│         ┆ 48:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
└─────────┴─────────┴────────┴─────┴─────────┴────────┴────────┴────────┴────────┴────────┴────────┘

**Checking the Structure of the Data (df.schema)**

In [31]:
df.schema

Schema([('Transaction_ID', Int64),
        ('Transaction_date', Datetime(time_unit='us', time_zone=None)),
        ('Gender', String),
        ('Age', Int64),
        ('Marital_status', String),
        ('State_names', String),
        ('Segment', String),
        ('Employees_status', String),
        ('Payment_method', String),
        ('Referal', Int64),
        ('Amount_spent', Float64)])

**Summarizing Data**

In [32]:
df.describe()

shape: (9, 12)
┌────────┬────────┬────────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┬───────┐
│ statis ┆ Transa ┆ Transa ┆ Gende ┆ Age   ┆ Marit ┆ State ┆ Segme ┆ Emplo ┆ Payme ┆ Refer ┆ Amoun │
│ tic    ┆ ction_ ┆ ction_ ┆ r     ┆ ---   ┆ al_st ┆ _name ┆ nt    ┆ yees_ ┆ nt_me ┆ al    ┆ t_spe │
│ ---    ┆ ID     ┆ date   ┆ ---   ┆ f64   ┆ atus  ┆ s     ┆ ---   ┆ statu ┆ thod  ┆ ---   ┆ nt    │
│ str    ┆ ---    ┆ ---    ┆ str   ┆       ┆ ---   ┆ ---   ┆ str   ┆ s     ┆ ---   ┆ f64   ┆ ---   │
│        ┆ f64    ┆ str    ┆       ┆       ┆ str   ┆ str   ┆       ┆ ---   ┆ str   ┆       ┆ f64   │
│        ┆        ┆        ┆       ┆       ┆       ┆       ┆       ┆ str   ┆       ┆       ┆       │
╞════════╪════════╪════════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╪═══════╡
│ count  ┆ 1e6    ┆ 100000 ┆ 98894 ┆ 98334 ┆ 10000 ┆ 10000 ┆ 10000 ┆ 98977 ┆ 10000 ┆ 93818 ┆ 90393 │
│        ┆        ┆ 0      ┆ 8     ┆ 6.0   ┆ 00    ┆ 00    ┆ 00    ┆ 5     ┆ 00    ┆ 8.0   ┆ 5.0   │
│ null_c ┆ 0.0    ┆ 0      ┆ 11052 ┆ 16654 ┆ 0     ┆ 0     ┆ 0     ┆ 10225 ┆ 0     ┆ 61812 ┆ 96065 │
│ ount   ┆        ┆        ┆       ┆ .0    ┆       ┆       ┆       ┆       ┆       ┆ .0    ┆ .0    │
│ mean   ┆ 500999 ┆ 2021-0 ┆ null  ┆ 46.64 ┆ null  ┆ null  ┆ null  ┆ null  ┆ null  ┆ 0.652 ┆ 1416. │
│        ┆ .5     ┆ 7-18   ┆       ┆ 717   ┆       ┆       ┆       ┆       ┆       ┆ 339   ┆ 12610 │
│        ┆        ┆ 02:33: ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆ 6     │
│        ┆        ┆ 57.352 ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│        ┆        ┆ 319    ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ std    ┆ 288675 ┆ null   ┆ null  ┆ 18.18 ┆ null  ┆ null  ┆ null  ┆ null  ┆ null  ┆ 0.476 ┆ 878.1 │
│        ┆ .27893 ┆        ┆       ┆ 3986  ┆       ┆       ┆       ┆       ┆       ┆ 228   ┆ 23082 │
│        ┆ 2      ┆        ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ min    ┆ 1000.0 ┆ 2018-0 ┆ Femal ┆ 15.0  ┆ Marri ┆ Alaba ┆ Basic ┆ Emplo ┆ Card  ┆ 0.0   ┆ 2.09  │
│        ┆        ┆ 1-01   ┆ e     ┆       ┆ ed    ┆ ma    ┆       ┆ yees  ┆       ┆       ┆       │
│        ┆        ┆ 00:04: ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│        ┆        ┆ 00     ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 25%    ┆ 251000 ┆ 2019-1 ┆ null  ┆ 32.0  ┆ null  ┆ null  ┆ null  ┆ null  ┆ null  ┆ 0.0   ┆ 677.3 │
│        ┆ .0     ┆ 0-11   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆ 6     │
│        ┆        ┆ 00:16: ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│        ┆        ┆ 00     ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 50%    ┆ 501000 ┆ 2021-0 ┆ null  ┆ 47.0  ┆ null  ┆ null  ┆ null  ┆ null  ┆ null  ┆ 1.0   ┆ 1332. │
│        ┆ .0     ┆ 7-18   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆ 48    │
│        ┆        ┆ 03:11: ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│        ┆        ┆ 00     ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ 75%    ┆ 750999 ┆ 2023-0 ┆ null  ┆ 62.0  ┆ null  ┆ null  ┆ null  ┆ null  ┆ null  ┆ 1.0   ┆ 2037. │
│        ┆ .0     ┆ 4-25   ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆ 59    │
│        ┆        ┆ 02:40: ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│        ┆        ┆ 00     ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│ max    ┆ 1.0009 ┆ 2025-0 ┆ Male  ┆ 78.0  ┆ Singl ┆ Wyomi ┆ Silve ┆ worke ┆ PayPa ┆ 1.0   ┆ 2999. │
│        ┆ 99e6   ┆ 1-30   ┆       ┆       ┆ e     ┆ ng    ┆ r     ┆ rs    ┆ l     ┆       ┆ 98    │
│        ┆        ┆ 23:57: ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
│        ┆        ┆ 00     ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       ┆       │
└────────┴────────┴────────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┴───────┘

### Selecting, Filtering, and Slicing Data

**Selecting Specific Columns**

In [41]:
#Selecting One Column
df.select("Amount_spent")

shape: (1_000_000, 1)
┌──────────────┐
│ Amount_spent │
│ ---          │
│ f64          │
╞══════════════╡
│ 1557.5       │
│ 153.55       │
│ 2640.96      │
│ 293.58       │
│ 1608.01      │
│ …            │
│ 1762.76      │
│ 31.41        │
│ 1699.31      │
│ 208.26       │
│ 2063.92      │
└──────────────┘

In [42]:
# Selecting Multiple Columns
df.select(["Amount_spent", "Transaction_ID", "Gender"])

shape: (1_000_000, 3)
┌──────────────┬────────────────┬────────┐
│ Amount_spent ┆ Transaction_ID ┆ Gender │
│ ---          ┆ ---            ┆ ---    │
│ f64          ┆ i64            ┆ str    │
╞══════════════╪════════════════╪════════╡
│ 1557.5       ┆ 1000           ┆ Female │
│ 153.55       ┆ 1001           ┆ Male   │
│ 2640.96      ┆ 1002           ┆ Female │
│ 293.58       ┆ 1003           ┆ Male   │
│ 1608.01      ┆ 1004           ┆ Female │
│ …            ┆ …              ┆ …      │
│ 1762.76      ┆ 1000995        ┆ Male   │
│ 31.41        ┆ 1000996        ┆ Female │
│ 1699.31      ┆ 1000997        ┆ Female │
│ 208.26       ┆ 1000998        ┆ Female │
│ 2063.92      ┆ 1000999        ┆ Male   │
└──────────────┴────────────────┴────────┘

#### Filtering Rows Based on Conditions

In [43]:
# Filtering Rows Based on a Single Condition
df.filter(pl.col("Amount_spent") > 50)

shape: (889_589, 11)
┌─────────┬─────────┬────────┬─────┬─────────┬────────┬────────┬────────┬────────┬────────┬────────┐
│ Transac ┆ Transac ┆ Gender ┆ Age ┆ Marital ┆ State_ ┆ Segmen ┆ Employ ┆ Paymen ┆ Refera ┆ Amount │
│ tion_ID ┆ tion_da ┆ ---    ┆ --- ┆ _status ┆ names  ┆ t      ┆ ees_st ┆ t_meth ┆ l      ┆ _spent │
│ ---     ┆ te      ┆ str    ┆ i64 ┆ ---     ┆ ---    ┆ ---    ┆ atus   ┆ od     ┆ ---    ┆ ---    │
│ i64     ┆ ---     ┆        ┆     ┆ str     ┆ str    ┆ str    ┆ ---    ┆ ---    ┆ i64    ┆ f64    │
│         ┆ datetim ┆        ┆     ┆         ┆        ┆        ┆ str    ┆ str    ┆        ┆        │
│         ┆ e[μs]   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
╞═════════╪═════════╪════════╪═════╪═════════╪════════╪════════╪════════╪════════╪════════╪════════╡
│ 1000    ┆ 2018-01 ┆ Female ┆ 39  ┆ Single  ┆ Oklaho ┆ Platin ┆ Unempl ┆ Card   ┆ 0      ┆ 1557.5 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ ma     ┆ um     ┆ oyment ┆        ┆        ┆        │
│         ┆ 04:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1001    ┆ 2018-01 ┆ Male   ┆ 34  ┆ Married ┆ Hawaii ┆ Basic  ┆ worker ┆ PayPal ┆ 1      ┆ 153.55 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆        ┆ s      ┆        ┆        ┆        │
│         ┆ 06:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1002    ┆ 2018-01 ┆ Female ┆ 53  ┆ Married ┆ Iowa   ┆ Basic  ┆ self-e ┆ PayPal ┆ 1      ┆ 2640.9 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆        ┆ mploye ┆        ┆        ┆ 6      │
│         ┆ 14:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1003    ┆ 2018-01 ┆ Male   ┆ 33  ┆ Married ┆ Wiscon ┆ Basic  ┆ self-e ┆ Card   ┆ 1      ┆ 293.58 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ sin    ┆        ┆ mploye ┆        ┆        ┆        │
│         ┆ 23:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1004    ┆ 2018-01 ┆ Female ┆ 36  ┆ Married ┆ Texas  ┆ Platin ┆ Employ ┆ Card   ┆ 0      ┆ 1608.0 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆ um     ┆ ees    ┆        ┆        ┆ 1      │
│         ┆ 25:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ …       ┆ …       ┆ …      ┆ …   ┆ …       ┆ …      ┆ …      ┆ …      ┆ …      ┆ …      ┆ …      │
│ 1000994 ┆ 2025-01 ┆ Female ┆ 51  ┆ Single  ┆ West   ┆ Platin ┆ Unempl ┆ Card   ┆ 0      ┆ 522.04 │
│         ┆ -30 23: ┆        ┆     ┆         ┆ Virgin ┆ um     ┆ oyment ┆        ┆        ┆        │
│         ┆ 29:00   ┆        ┆     ┆         ┆ ia     ┆        ┆        ┆        ┆        ┆        │
│ 1000995 ┆ 2025-01 ┆ Male   ┆ 45  ┆ Single  ┆ Arkans ┆ Gold   ┆ Employ ┆ PayPal ┆ 1      ┆ 1762.7 │
│         ┆ -30 23: ┆        ┆     ┆         ┆ as     ┆        ┆ ees    ┆        ┆        ┆ 6      │
│         ┆ 43:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000997 ┆ 2025-01 ┆ Female ┆ 61  ┆ Married ┆ Kansas ┆ Basic  ┆ self-e ┆ Other  ┆ 1      ┆ 1699.3 │
│         ┆ -30 23: ┆        ┆     ┆         ┆        ┆        ┆ mploye ┆        ┆        ┆ 1      │
│         ┆ 47:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1000998 ┆ 2025-01 ┆ Female ┆ 68  ┆ Married ┆ Utah   ┆ Basic  ┆ Employ ┆ PayPal ┆ 1      ┆ 208.26 │
│         ┆ -30 23: ┆        ┆     ┆         ┆        ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 52:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000999 ┆ 2025-01 ┆ Male   ┆ 55  ┆ Single  ┆ Nevada ┆ Missin ┆ worker ┆ PayPal ┆ 0      ┆ 2063.9 │
│         ┆ -30 23: ┆        ┆     ┆         ┆        ┆ g      ┆ s      ┆        ┆        ┆ 2      │
│         ┆ 57:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
└─────────┴─────────┴────────┴─────┴─────────┴────────┴────────┴────────┴────────┴────────┴────────┘

In [44]:
# Filtering Rows Based on Multiple Conditions
df.filter((pl.col("Amount_spent") > 100) & (pl.col("Gender") == "Female"))

shape: (466_044, 11)
┌─────────┬─────────┬────────┬─────┬─────────┬────────┬────────┬────────┬────────┬────────┬────────┐
│ Transac ┆ Transac ┆ Gender ┆ Age ┆ Marital ┆ State_ ┆ Segmen ┆ Employ ┆ Paymen ┆ Refera ┆ Amount │
│ tion_ID ┆ tion_da ┆ ---    ┆ --- ┆ _status ┆ names  ┆ t      ┆ ees_st ┆ t_meth ┆ l      ┆ _spent │
│ ---     ┆ te      ┆ str    ┆ i64 ┆ ---     ┆ ---    ┆ ---    ┆ atus   ┆ od     ┆ ---    ┆ ---    │
│ i64     ┆ ---     ┆        ┆     ┆ str     ┆ str    ┆ str    ┆ ---    ┆ ---    ┆ i64    ┆ f64    │
│         ┆ datetim ┆        ┆     ┆         ┆        ┆        ┆ str    ┆ str    ┆        ┆        │
│         ┆ e[μs]   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
╞═════════╪═════════╪════════╪═════╪═════════╪════════╪════════╪════════╪════════╪════════╪════════╡
│ 1000    ┆ 2018-01 ┆ Female ┆ 39  ┆ Single  ┆ Oklaho ┆ Platin ┆ Unempl ┆ Card   ┆ 0      ┆ 1557.5 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ ma     ┆ um     ┆ oyment ┆        ┆        ┆        │
│         ┆ 04:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1002    ┆ 2018-01 ┆ Female ┆ 53  ┆ Married ┆ Iowa   ┆ Basic  ┆ self-e ┆ PayPal ┆ 1      ┆ 2640.9 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆        ┆ mploye ┆        ┆        ┆ 6      │
│         ┆ 14:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1004    ┆ 2018-01 ┆ Female ┆ 36  ┆ Married ┆ Texas  ┆ Platin ┆ Employ ┆ Card   ┆ 0      ┆ 1608.0 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆ um     ┆ ees    ┆        ┆        ┆ 1      │
│         ┆ 25:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1006    ┆ 2018-01 ┆ Female ┆ 55  ┆ Single  ┆ Ohio   ┆ Silver ┆ Unempl ┆ PayPal ┆ 0      ┆ 1553.6 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆        ┆ oyment ┆        ┆        ┆ 1      │
│         ┆ 29:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1007    ┆ 2018-01 ┆ Female ┆ 35  ┆ Married ┆ Hawaii ┆ Basic  ┆ worker ┆ Other  ┆ 1      ┆ 1851.5 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆        ┆ s      ┆        ┆        ┆ 8      │
│         ┆ 29:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ …       ┆ …       ┆ …      ┆ …   ┆ …       ┆ …      ┆ …      ┆ …      ┆ …      ┆ …      ┆ …      │
│ 1000992 ┆ 2025-01 ┆ Female ┆ 25  ┆ Married ┆ Nebras ┆ Basic  ┆ worker ┆ PayPal ┆ 0      ┆ 1735.0 │
│         ┆ -30 23: ┆        ┆     ┆         ┆ ka     ┆        ┆ s      ┆        ┆        ┆ 7      │
│         ┆ 23:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000993 ┆ 2025-01 ┆ Female ┆ 18  ┆ Married ┆ Alabam ┆ Silver ┆ worker ┆ PayPal ┆ null   ┆ 2091.7 │
│         ┆ -30 23: ┆        ┆     ┆         ┆ a      ┆        ┆ s      ┆        ┆        ┆ 3      │
│         ┆ 29:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000994 ┆ 2025-01 ┆ Female ┆ 51  ┆ Single  ┆ West   ┆ Platin ┆ Unempl ┆ Card   ┆ 0      ┆ 522.04 │
│         ┆ -30 23: ┆        ┆     ┆         ┆ Virgin ┆ um     ┆ oyment ┆        ┆        ┆        │
│         ┆ 29:00   ┆        ┆     ┆         ┆ ia     ┆        ┆        ┆        ┆        ┆        │
│ 1000997 ┆ 2025-01 ┆ Female ┆ 61  ┆ Married ┆ Kansas ┆ Basic  ┆ self-e ┆ Other  ┆ 1      ┆ 1699.3 │
│         ┆ -30 23: ┆        ┆     ┆         ┆        ┆        ┆ mploye ┆        ┆        ┆ 1      │
│         ┆ 47:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1000998 ┆ 2025-01 ┆ Female ┆ 68  ┆ Married ┆ Utah   ┆ Basic  ┆ Employ ┆ PayPal ┆ 1      ┆ 208.26 │
│         ┆ -30 23: ┆        ┆     ┆         ┆        ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 52:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
└─────────┴─────────┴────────┴─────┴─────────┴────────┴────────┴────────┴────────┴────────┴────────┘

In [45]:
df.filter((pl.col("Marital_status") == "Married") & (pl.col("State_names") == "California"))

shape: (13_747, 11)
┌─────────┬─────────┬────────┬─────┬─────────┬────────┬────────┬────────┬────────┬────────┬────────┐
│ Transac ┆ Transac ┆ Gender ┆ Age ┆ Marital ┆ State_ ┆ Segmen ┆ Employ ┆ Paymen ┆ Refera ┆ Amount │
│ tion_ID ┆ tion_da ┆ ---    ┆ --- ┆ _status ┆ names  ┆ t      ┆ ees_st ┆ t_meth ┆ l      ┆ _spent │
│ ---     ┆ te      ┆ str    ┆ i64 ┆ ---     ┆ ---    ┆ ---    ┆ atus   ┆ od     ┆ ---    ┆ ---    │
│ i64     ┆ ---     ┆        ┆     ┆ str     ┆ str    ┆ str    ┆ ---    ┆ ---    ┆ i64    ┆ f64    │
│         ┆ datetim ┆        ┆     ┆         ┆        ┆        ┆ str    ┆ str    ┆        ┆        │
│         ┆ e[μs]   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
╞═════════╪═════════╪════════╪═════╪═════════╪════════╪════════╪════════╪════════╪════════╪════════╡
│ 1085    ┆ 2018-01 ┆ Male   ┆ 33  ┆ Married ┆ Califo ┆ Basic  ┆ Employ ┆ Other  ┆ 0      ┆ 2621.9 │
│         ┆ -01 04: ┆        ┆     ┆         ┆ rnia   ┆        ┆ ees    ┆        ┆        ┆ 1      │
│         ┆ 59:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1107    ┆ 2018-01 ┆ Male   ┆ 65  ┆ Married ┆ Califo ┆ Basic  ┆ Unempl ┆ PayPal ┆ 1      ┆ 884.14 │
│         ┆ -01 06: ┆        ┆     ┆         ┆ rnia   ┆        ┆ oyment ┆        ┆        ┆        │
│         ┆ 11:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1140    ┆ 2018-01 ┆ Female ┆ 60  ┆ Married ┆ Califo ┆ Basic  ┆ Unempl ┆ Other  ┆ 0      ┆ 2785.7 │
│         ┆ -01 08: ┆        ┆     ┆         ┆ rnia   ┆        ┆ oyment ┆        ┆        ┆ 8      │
│         ┆ 41:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1335    ┆ 2018-01 ┆ Male   ┆ 61  ┆ Married ┆ Califo ┆ Basic  ┆ self-e ┆ PayPal ┆ 1      ┆ 670.59 │
│         ┆ -01 21: ┆        ┆     ┆         ┆ rnia   ┆        ┆ mploye ┆        ┆        ┆        │
│         ┆ 20:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1395    ┆ 2018-01 ┆ Female ┆ 28  ┆ Married ┆ Califo ┆ Gold   ┆ worker ┆ Card   ┆ 1      ┆ 1887.3 │
│         ┆ -02 01: ┆        ┆     ┆         ┆ rnia   ┆        ┆ s      ┆        ┆        ┆        │
│         ┆ 42:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ …       ┆ …       ┆ …      ┆ …   ┆ …       ┆ …      ┆ …      ┆ …      ┆ …      ┆ …      ┆ …      │
│ 1000583 ┆ 2025-01 ┆ Female ┆ 22  ┆ Married ┆ Califo ┆ Basic  ┆ worker ┆ PayPal ┆ 1      ┆ 1510.2 │
│         ┆ -30 00: ┆        ┆     ┆         ┆ rnia   ┆        ┆ s      ┆        ┆        ┆ 8      │
│         ┆ 04:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000586 ┆ 2025-01 ┆ Male   ┆ 49  ┆ Married ┆ Califo ┆ Basic  ┆ worker ┆ PayPal ┆ 1      ┆ 337.17 │
│         ┆ -30 00: ┆        ┆     ┆         ┆ rnia   ┆        ┆ s      ┆        ┆        ┆        │
│         ┆ 12:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000632 ┆ 2025-01 ┆ Female ┆ 28  ┆ Married ┆ Califo ┆ Basic  ┆ Employ ┆ PayPal ┆ 1      ┆ 1287.3 │
│         ┆ -30 02: ┆        ┆     ┆         ┆ rnia   ┆        ┆ ees    ┆        ┆        ┆ 1      │
│         ┆ 26:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000778 ┆ 2025-01 ┆ Male   ┆ 78  ┆ Married ┆ Califo ┆ Missin ┆ Employ ┆ Other  ┆ 1      ┆ 150.76 │
│         ┆ -30 10: ┆        ┆     ┆         ┆ rnia   ┆ g      ┆ ees    ┆        ┆        ┆        │
│         ┆ 31:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000972 ┆ 2025-01 ┆ Female ┆ 59  ┆ Married ┆ Califo ┆ Missin ┆ worker ┆ Card   ┆ 0      ┆ 880.28 │
│         ┆ -30 21: ┆        ┆     ┆         ┆ rnia   ┆ g      ┆ s      ┆        ┆        ┆        │
│         ┆ 55:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
└─────────┴─────────┴────────┴─────┴─────────┴────────┴────────┴────────┴────────┴────────┴────────┘

### Extracting a Specific Range of Rows (Slicing)

**Extract a Range of Rows by Index**

In [38]:
df.slice(10, 10)  # Start at index 10, retrieve 10 rows (rows 10 to 19)

shape: (10, 11)
┌─────────┬─────────┬────────┬─────┬─────────┬────────┬────────┬────────┬────────┬────────┬────────┐
│ Transac ┆ Transac ┆ Gender ┆ Age ┆ Marital ┆ State_ ┆ Segmen ┆ Employ ┆ Paymen ┆ Refera ┆ Amount │
│ tion_ID ┆ tion_da ┆ ---    ┆ --- ┆ _status ┆ names  ┆ t      ┆ ees_st ┆ t_meth ┆ l      ┆ _spent │
│ ---     ┆ te      ┆ str    ┆ i64 ┆ ---     ┆ ---    ┆ ---    ┆ atus   ┆ od     ┆ ---    ┆ ---    │
│ i64     ┆ ---     ┆        ┆     ┆ str     ┆ str    ┆ str    ┆ ---    ┆ ---    ┆ i64    ┆ f64    │
│         ┆ datetim ┆        ┆     ┆         ┆        ┆        ┆ str    ┆ str    ┆        ┆        │
│         ┆ e[μs]   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
╞═════════╪═════════╪════════╪═════╪═════════╪════════╪════════╪════════╪════════╪════════╪════════╡
│ 1010    ┆ 2018-01 ┆ Female ┆ 40  ┆ Single  ┆ Illino ┆ Basic  ┆ Unempl ┆ PayPal ┆ 1      ┆ 1160.6 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ is     ┆        ┆ oyment ┆        ┆        ┆ 5      │
│         ┆ 34:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1011    ┆ 2018-01 ┆ Male   ┆ 73  ┆ Married ┆ West   ┆ Basic  ┆ Employ ┆ PayPal ┆ 0      ┆ 1397.0 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ Virgin ┆        ┆ ees    ┆        ┆        ┆ 9      │
│         ┆ 36:00   ┆        ┆     ┆         ┆ ia     ┆        ┆        ┆        ┆        ┆        │
│ 1012    ┆ 2018-01 ┆ Female ┆ 44  ┆ Single  ┆ Florid ┆ Basic  ┆ worker ┆ PayPal ┆ 0      ┆ 1778.3 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ a      ┆        ┆ s      ┆        ┆        ┆ 3      │
│         ┆ 41:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1013    ┆ 2018-01 ┆ Male   ┆ 77  ┆ Married ┆ Oregon ┆ Missin ┆ worker ┆ Card   ┆ 0      ┆ 1449.9 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆ g      ┆ s      ┆        ┆        ┆ 8      │
│         ┆ 43:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1014    ┆ 2018-01 ┆ Male   ┆ 54  ┆ Single  ┆ North  ┆ Platin ┆ Employ ┆ Card   ┆ 1      ┆ 2936.9 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ Caroli ┆ um     ┆ ees    ┆        ┆        ┆ 6      │
│         ┆ 43:00   ┆        ┆     ┆         ┆ na     ┆        ┆        ┆        ┆        ┆        │
│ 1015    ┆ 2018-01 ┆ Female ┆ 37  ┆ Married ┆ Arizon ┆ Basic  ┆ Employ ┆ Other  ┆ 1      ┆ null   │
│         ┆ -01 00: ┆        ┆     ┆         ┆ a      ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 44:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1016    ┆ 2018-01 ┆ Female ┆ 75  ┆ Single  ┆ Tennes ┆ Platin ┆ Employ ┆ Card   ┆ 0      ┆ 2870.6 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ see    ┆ um     ┆ ees    ┆        ┆        ┆ 9      │
│         ┆ 52:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1017    ┆ 2018-01 ┆ Female ┆ 77  ┆ Single  ┆ Washin ┆ Platin ┆ Employ ┆ PayPal ┆ 0      ┆ 439.56 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ gton   ┆ um     ┆ ees    ┆        ┆        ┆        │
│         ┆ 53:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1018    ┆ 2018-01 ┆ Male   ┆ 55  ┆ Married ┆ South  ┆ Basic  ┆ Employ ┆ PayPal ┆ 1      ┆ 1274.6 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ Caroli ┆        ┆ ees    ┆        ┆        ┆ 2      │
│         ┆ 57:00   ┆        ┆     ┆         ┆ na     ┆        ┆        ┆        ┆        ┆        │
│ 1019    ┆ 2018-01 ┆ Female ┆ 37  ┆ Married ┆ Missou ┆ Platin ┆ worker ┆ Card   ┆ null   ┆ 1319.6 │
│         ┆ -01 01: ┆        ┆     ┆         ┆ ri     ┆ um     ┆ s      ┆        ┆        ┆ 8      │
│         ┆ 02:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
└─────────┴─────────┴────────┴─────┴─────────┴────────┴────────┴────────┴────────┴────────┴────────┘

In [39]:
df.slice(0, 100)  # Retrieve the first 100 rows

shape: (100, 11)
┌─────────┬─────────┬────────┬─────┬─────────┬────────┬────────┬────────┬────────┬────────┬────────┐
│ Transac ┆ Transac ┆ Gender ┆ Age ┆ Marital ┆ State_ ┆ Segmen ┆ Employ ┆ Paymen ┆ Refera ┆ Amount │
│ tion_ID ┆ tion_da ┆ ---    ┆ --- ┆ _status ┆ names  ┆ t      ┆ ees_st ┆ t_meth ┆ l      ┆ _spent │
│ ---     ┆ te      ┆ str    ┆ i64 ┆ ---     ┆ ---    ┆ ---    ┆ atus   ┆ od     ┆ ---    ┆ ---    │
│ i64     ┆ ---     ┆        ┆     ┆ str     ┆ str    ┆ str    ┆ ---    ┆ ---    ┆ i64    ┆ f64    │
│         ┆ datetim ┆        ┆     ┆         ┆        ┆        ┆ str    ┆ str    ┆        ┆        │
│         ┆ e[μs]   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
╞═════════╪═════════╪════════╪═════╪═════════╪════════╪════════╪════════╪════════╪════════╪════════╡
│ 1000    ┆ 2018-01 ┆ Female ┆ 39  ┆ Single  ┆ Oklaho ┆ Platin ┆ Unempl ┆ Card   ┆ 0      ┆ 1557.5 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ ma     ┆ um     ┆ oyment ┆        ┆        ┆        │
│         ┆ 04:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1001    ┆ 2018-01 ┆ Male   ┆ 34  ┆ Married ┆ Hawaii ┆ Basic  ┆ worker ┆ PayPal ┆ 1      ┆ 153.55 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆        ┆ s      ┆        ┆        ┆        │
│         ┆ 06:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1002    ┆ 2018-01 ┆ Female ┆ 53  ┆ Married ┆ Iowa   ┆ Basic  ┆ self-e ┆ PayPal ┆ 1      ┆ 2640.9 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆        ┆ mploye ┆        ┆        ┆ 6      │
│         ┆ 14:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1003    ┆ 2018-01 ┆ Male   ┆ 33  ┆ Married ┆ Wiscon ┆ Basic  ┆ self-e ┆ Card   ┆ 1      ┆ 293.58 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ sin    ┆        ┆ mploye ┆        ┆        ┆        │
│         ┆ 23:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1004    ┆ 2018-01 ┆ Female ┆ 36  ┆ Married ┆ Texas  ┆ Platin ┆ Employ ┆ Card   ┆ 0      ┆ 1608.0 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆ um     ┆ ees    ┆        ┆        ┆ 1      │
│         ┆ 25:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ …       ┆ …       ┆ …      ┆ …   ┆ …       ┆ …      ┆ …      ┆ …      ┆ …      ┆ …      ┆ …      │
│ 1095    ┆ 2018-01 ┆ Male   ┆ 24  ┆ Single  ┆ Washin ┆ Platin ┆ worker ┆ PayPal ┆ 0      ┆ 2042.6 │
│         ┆ -01 05: ┆        ┆     ┆         ┆ gton   ┆ um     ┆ s      ┆        ┆        ┆ 4      │
│         ┆ 44:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1096    ┆ 2018-01 ┆ Male   ┆ 44  ┆ Married ┆ Indian ┆ Basic  ┆ self-e ┆ PayPal ┆ 1      ┆ null   │
│         ┆ -01 05: ┆        ┆     ┆         ┆ a      ┆        ┆ mploye ┆        ┆        ┆        │
│         ┆ 45:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1097    ┆ 2018-01 ┆ Female ┆ 20  ┆ Married ┆ Nebras ┆ Missin ┆ Employ ┆ PayPal ┆ 1      ┆ 1324.1 │
│         ┆ -01 05: ┆        ┆     ┆         ┆ ka     ┆ g      ┆ ees    ┆        ┆        ┆ 2      │
│         ┆ 47:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1098    ┆ 2018-01 ┆ Female ┆ 28  ┆ Single  ┆ North  ┆ Silver ┆ Employ ┆ Card   ┆ 1      ┆ 1733.6 │
│         ┆ -01 05: ┆        ┆     ┆         ┆ Dakota ┆        ┆ ees    ┆        ┆        ┆ 5      │
│         ┆ 52:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1099    ┆ 2018-01 ┆ Female ┆ 25  ┆ Married ┆ Wyomin ┆ Silver ┆ worker ┆ Other  ┆ 1      ┆ 309.82 │
│         ┆ -01 05: ┆        ┆     ┆         ┆ g      ┆        ┆ s      ┆        ┆        ┆        │
│         ┆ 53:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
└─────────┴─────────┴────────┴─────┴─────────┴────────┴────────┴────────┴────────┴────────┴────────┘

In [40]:
df.tail(50)  # Get the last 50 rows

shape: (50, 11)
┌─────────┬─────────┬────────┬─────┬─────────┬────────┬────────┬────────┬────────┬────────┬────────┐
│ Transac ┆ Transac ┆ Gender ┆ Age ┆ Marital ┆ State_ ┆ Segmen ┆ Employ ┆ Paymen ┆ Refera ┆ Amount │
│ tion_ID ┆ tion_da ┆ ---    ┆ --- ┆ _status ┆ names  ┆ t      ┆ ees_st ┆ t_meth ┆ l      ┆ _spent │
│ ---     ┆ te      ┆ str    ┆ i64 ┆ ---     ┆ ---    ┆ ---    ┆ atus   ┆ od     ┆ ---    ┆ ---    │
│ i64     ┆ ---     ┆        ┆     ┆ str     ┆ str    ┆ str    ┆ ---    ┆ ---    ┆ i64    ┆ f64    │
│         ┆ datetim ┆        ┆     ┆         ┆        ┆        ┆ str    ┆ str    ┆        ┆        │
│         ┆ e[μs]   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
╞═════════╪═════════╪════════╪═════╪═════════╪════════╪════════╪════════╪════════╪════════╪════════╡
│ 1000950 ┆ 2025-01 ┆ Male   ┆ 72  ┆ Married ┆ Minnes ┆ Silver ┆ Employ ┆ PayPal ┆ 0      ┆ 892.56 │
│         ┆ -30 20: ┆        ┆     ┆         ┆ ota    ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 27:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000951 ┆ 2025-01 ┆ Male   ┆ 78  ┆ Married ┆ New    ┆ Basic  ┆ Unempl ┆ Card   ┆ 1      ┆ 95.05  │
│         ┆ -30 20: ┆        ┆     ┆         ┆ Mexico ┆        ┆ oyment ┆        ┆        ┆        │
│         ┆ 30:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000952 ┆ 2025-01 ┆ Male   ┆ 19  ┆ Single  ┆ Vermon ┆ Basic  ┆ self-e ┆ PayPal ┆ 1      ┆ 1967.6 │
│         ┆ -30 20: ┆        ┆     ┆         ┆ t      ┆        ┆ mploye ┆        ┆        ┆        │
│         ┆ 31:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1000953 ┆ 2025-01 ┆ Female ┆ 63  ┆ Single  ┆ Louisi ┆ Basic  ┆ Employ ┆ Other  ┆ 1      ┆ 958.83 │
│         ┆ -30 20: ┆        ┆     ┆         ┆ ana    ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 33:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000954 ┆ 2025-01 ┆ Male   ┆ 70  ┆ Single  ┆ New    ┆ Basic  ┆ worker ┆ PayPal ┆ 0      ┆ 2969.2 │
│         ┆ -30 20: ┆        ┆     ┆         ┆ Jersey ┆        ┆ s      ┆        ┆        ┆ 4      │
│         ┆ 34:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ …       ┆ …       ┆ …      ┆ …   ┆ …       ┆ …      ┆ …      ┆ …      ┆ …      ┆ …      ┆ …      │
│ 1000995 ┆ 2025-01 ┆ Male   ┆ 45  ┆ Single  ┆ Arkans ┆ Gold   ┆ Employ ┆ PayPal ┆ 1      ┆ 1762.7 │
│         ┆ -30 23: ┆        ┆     ┆         ┆ as     ┆        ┆ ees    ┆        ┆        ┆ 6      │
│         ┆ 43:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000996 ┆ 2025-01 ┆ Female ┆ 75  ┆ Married ┆ Virgin ┆ Silver ┆ worker ┆ Other  ┆ 1      ┆ 31.41  │
│         ┆ -30 23: ┆        ┆     ┆         ┆ ia     ┆        ┆ s      ┆        ┆        ┆        │
│         ┆ 45:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000997 ┆ 2025-01 ┆ Female ┆ 61  ┆ Married ┆ Kansas ┆ Basic  ┆ self-e ┆ Other  ┆ 1      ┆ 1699.3 │
│         ┆ -30 23: ┆        ┆     ┆         ┆        ┆        ┆ mploye ┆        ┆        ┆ 1      │
│         ┆ 47:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1000998 ┆ 2025-01 ┆ Female ┆ 68  ┆ Married ┆ Utah   ┆ Basic  ┆ Employ ┆ PayPal ┆ 1      ┆ 208.26 │
│         ┆ -30 23: ┆        ┆     ┆         ┆        ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 52:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000999 ┆ 2025-01 ┆ Male   ┆ 55  ┆ Single  ┆ Nevada ┆ Missin ┆ worker ┆ PayPal ┆ 0      ┆ 2063.9 │
│         ┆ -30 23: ┆        ┆     ┆         ┆        ┆ g      ┆ s      ┆        ┆        ┆ 2      │
│         ┆ 57:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
└─────────┴─────────┴────────┴─────┴─────────┴────────┴────────┴────────┴────────┴────────┴────────┘

### Sorting and Applying Conditions

**Sorting Data in Ascending Order**

In [23]:
df.sort("Amount_spent", nulls_last=True).head(4)

shape: (4, 11)
┌─────────┬─────────┬────────┬─────┬─────────┬────────┬────────┬────────┬────────┬────────┬────────┐
│ Transac ┆ Transac ┆ Gender ┆ Age ┆ Marital ┆ State_ ┆ Segmen ┆ Employ ┆ Paymen ┆ Refera ┆ Amount │
│ tion_ID ┆ tion_da ┆ ---    ┆ --- ┆ _status ┆ names  ┆ t      ┆ ees_st ┆ t_meth ┆ l      ┆ _spent │
│ ---     ┆ te      ┆ str    ┆ i64 ┆ ---     ┆ ---    ┆ ---    ┆ atus   ┆ od     ┆ ---    ┆ ---    │
│ i64     ┆ ---     ┆        ┆     ┆ str     ┆ str    ┆ str    ┆ ---    ┆ ---    ┆ i64    ┆ f64    │
│         ┆ datetim ┆        ┆     ┆         ┆        ┆        ┆ str    ┆ str    ┆        ┆        │
│         ┆ e[μs]   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
╞═════════╪═════════╪════════╪═════╪═════════╪════════╪════════╪════════╪════════╪════════╪════════╡
│ 9032    ┆ 2018-01 ┆ Female ┆ 73  ┆ Married ┆ Michig ┆ Gold   ┆ Employ ┆ PayPal ┆ 1      ┆ 2.09   │
│         ┆ -21 18: ┆        ┆     ┆         ┆ an     ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 02:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 12093   ┆ 2018-01 ┆ Female ┆ 73  ┆ Married ┆ Michig ┆ Gold   ┆ Employ ┆ PayPal ┆ 1      ┆ 2.09   │
│         ┆ -29 13: ┆        ┆     ┆         ┆ an     ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 52:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 14260   ┆ 2018-02 ┆ Female ┆ 73  ┆ Married ┆ Michig ┆ Gold   ┆ Employ ┆ PayPal ┆ 1      ┆ 2.09   │
│         ┆ -04 03: ┆        ┆     ┆         ┆ an     ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 34:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 16267   ┆ 2018-02 ┆ Female ┆ 73  ┆ Married ┆ Michig ┆ Gold   ┆ Employ ┆ PayPal ┆ 1      ┆ 2.09   │
│         ┆ -09 09: ┆        ┆     ┆         ┆ an     ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 43:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
└─────────┴─────────┴────────┴─────┴─────────┴────────┴────────┴────────┴────────┴────────┴────────┘

**Sorting Data in Descending Order**

In [24]:
df.sort("Amount_spent", descending=True)

shape: (1_000_000, 11)
┌─────────┬─────────┬────────┬─────┬─────────┬────────┬────────┬────────┬────────┬────────┬────────┐
│ Transac ┆ Transac ┆ Gender ┆ Age ┆ Marital ┆ State_ ┆ Segmen ┆ Employ ┆ Paymen ┆ Refera ┆ Amount │
│ tion_ID ┆ tion_da ┆ ---    ┆ --- ┆ _status ┆ names  ┆ t      ┆ ees_st ┆ t_meth ┆ l      ┆ _spent │
│ ---     ┆ te      ┆ str    ┆ i64 ┆ ---     ┆ ---    ┆ ---    ┆ atus   ┆ od     ┆ ---    ┆ ---    │
│ i64     ┆ ---     ┆        ┆     ┆ str     ┆ str    ┆ str    ┆ ---    ┆ ---    ┆ i64    ┆ f64    │
│         ┆ datetim ┆        ┆     ┆         ┆        ┆        ┆ str    ┆ str    ┆        ┆        │
│         ┆ e[μs]   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
╞═════════╪═════════╪════════╪═════╪═════════╪════════╪════════╪════════╪════════╪════════╪════════╡
│ 1008    ┆ 2018-01 ┆ Male   ┆ 18  ┆ Married ┆ Nevada ┆ Basic  ┆ Employ ┆ Card   ┆ 1      ┆ null   │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 31:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1015    ┆ 2018-01 ┆ Female ┆ 37  ┆ Married ┆ Arizon ┆ Basic  ┆ Employ ┆ Other  ┆ 1      ┆ null   │
│         ┆ -01 00: ┆        ┆     ┆         ┆ a      ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 44:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1025    ┆ 2018-01 ┆ Male   ┆ 21  ┆ Married ┆ Florid ┆ Silver ┆ Unempl ┆ Card   ┆ 0      ┆ null   │
│         ┆ -01 01: ┆        ┆     ┆         ┆ a      ┆        ┆ oyment ┆        ┆        ┆        │
│         ┆ 13:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1039    ┆ 2018-01 ┆ Female ┆ 37  ┆ Single  ┆ Washin ┆ Basic  ┆ self-e ┆ PayPal ┆ 1      ┆ null   │
│         ┆ -01 01: ┆        ┆     ┆         ┆ gton   ┆        ┆ mploye ┆        ┆        ┆        │
│         ┆ 51:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1063    ┆ 2018-01 ┆ Male   ┆ 39  ┆ Married ┆ Montan ┆ Platin ┆ Unempl ┆ Other  ┆ 0      ┆ null   │
│         ┆ -01 03: ┆        ┆     ┆         ┆ a      ┆ um     ┆ oyment ┆        ┆        ┆        │
│         ┆ 41:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ …       ┆ …       ┆ …      ┆ …   ┆ …       ┆ …      ┆ …      ┆ …      ┆ …      ┆ …      ┆ …      │
│ 989972  ┆ 2025-01 ┆ Female ┆ 73  ┆ Married ┆ Michig ┆ Gold   ┆ Employ ┆ PayPal ┆ 1      ┆ 2.09   │
│         ┆ -02 13: ┆        ┆     ┆         ┆ an     ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 57:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 989980  ┆ 2025-01 ┆ Female ┆ 73  ┆ Married ┆ Michig ┆ Gold   ┆ Employ ┆ PayPal ┆ 1      ┆ 2.09   │
│         ┆ -02 14: ┆        ┆     ┆         ┆ an     ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 28:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 993301  ┆ 2025-01 ┆ Female ┆ 73  ┆ Married ┆ Michig ┆ Gold   ┆ Employ ┆ PayPal ┆ 1      ┆ 2.09   │
│         ┆ -11 12: ┆        ┆     ┆         ┆ an     ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 05:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 996137  ┆ 2025-01 ┆ Female ┆ 73  ┆ Married ┆ Michig ┆ Gold   ┆ Employ ┆ PayPal ┆ 1      ┆ 2.09   │
│         ┆ -18 11: ┆        ┆     ┆         ┆ an     ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 52:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000180 ┆ 2025-01 ┆ Female ┆ 73  ┆ Married ┆ Michig ┆ Gold   ┆ Employ ┆ PayPal ┆ 1      ┆ 2.09   │
│         ┆ -28 22: ┆        ┆     ┆         ┆ an     ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 45:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
└─────────┴─────────┴────────┴─────┴─────────┴────────┴────────┴────────┴────────┴────────┴────────┘

**Sorting by Multiple Columns**

In [25]:
df.sort(["Gender", "Amount_spent"], descending=[False, True], nulls_last=True).head(4)

shape: (4, 11)
┌─────────┬─────────┬────────┬─────┬─────────┬────────┬────────┬────────┬────────┬────────┬────────┐
│ Transac ┆ Transac ┆ Gender ┆ Age ┆ Marital ┆ State_ ┆ Segmen ┆ Employ ┆ Paymen ┆ Refera ┆ Amount │
│ tion_ID ┆ tion_da ┆ ---    ┆ --- ┆ _status ┆ names  ┆ t      ┆ ees_st ┆ t_meth ┆ l      ┆ _spent │
│ ---     ┆ te      ┆ str    ┆ i64 ┆ ---     ┆ ---    ┆ ---    ┆ atus   ┆ od     ┆ ---    ┆ ---    │
│ i64     ┆ ---     ┆        ┆     ┆ str     ┆ str    ┆ str    ┆ ---    ┆ ---    ┆ i64    ┆ f64    │
│         ┆ datetim ┆        ┆     ┆         ┆        ┆        ┆ str    ┆ str    ┆        ┆        │
│         ┆ e[μs]   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
╞═════════╪═════════╪════════╪═════╪═════════╪════════╪════════╪════════╪════════╪════════╪════════╡
│ 1270    ┆ 2018-01 ┆ Female ┆ 77  ┆ Married ┆ New    ┆ Platin ┆ worker ┆ Card   ┆ 0      ┆ 2999.9 │
│         ┆ -01 16: ┆        ┆     ┆         ┆ Mexico ┆ um     ┆ s      ┆        ┆        ┆ 8      │
│         ┆ 21:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 3182    ┆ 2018-01 ┆ Female ┆ 77  ┆ Married ┆ New    ┆ Platin ┆ worker ┆ Card   ┆ 0      ┆ 2999.9 │
│         ┆ -06 20: ┆        ┆     ┆         ┆ Mexico ┆ um     ┆ s      ┆        ┆        ┆ 8      │
│         ┆ 42:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 7065    ┆ 2018-01 ┆ Female ┆ 77  ┆ Married ┆ New    ┆ Platin ┆ worker ┆ Card   ┆ 0      ┆ 2999.9 │
│         ┆ -16 18: ┆        ┆     ┆         ┆ Mexico ┆ um     ┆ s      ┆        ┆        ┆ 8      │
│         ┆ 30:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 8747    ┆ 2018-01 ┆ Female ┆ 77  ┆ Married ┆ New    ┆ Platin ┆ worker ┆ Card   ┆ 0      ┆ 2999.9 │
│         ┆ -21 00: ┆        ┆     ┆         ┆ Mexico ┆ um     ┆ s      ┆        ┆        ┆ 8      │
│         ┆ 15:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
└─────────┴─────────┴────────┴─────┴─────────┴────────┴────────┴────────┴────────┴────────┴────────┘

### Applying Complex Conditional Queries

**Find Female Customers Who Spent More Than $100**

In [26]:
df.filter((pl.col("Amount_spent") > 100) & (pl.col("Gender") == "Female"))

shape: (466_044, 11)
┌─────────┬─────────┬────────┬─────┬─────────┬────────┬────────┬────────┬────────┬────────┬────────┐
│ Transac ┆ Transac ┆ Gender ┆ Age ┆ Marital ┆ State_ ┆ Segmen ┆ Employ ┆ Paymen ┆ Refera ┆ Amount │
│ tion_ID ┆ tion_da ┆ ---    ┆ --- ┆ _status ┆ names  ┆ t      ┆ ees_st ┆ t_meth ┆ l      ┆ _spent │
│ ---     ┆ te      ┆ str    ┆ i64 ┆ ---     ┆ ---    ┆ ---    ┆ atus   ┆ od     ┆ ---    ┆ ---    │
│ i64     ┆ ---     ┆        ┆     ┆ str     ┆ str    ┆ str    ┆ ---    ┆ ---    ┆ i64    ┆ f64    │
│         ┆ datetim ┆        ┆     ┆         ┆        ┆        ┆ str    ┆ str    ┆        ┆        │
│         ┆ e[μs]   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
╞═════════╪═════════╪════════╪═════╪═════════╪════════╪════════╪════════╪════════╪════════╪════════╡
│ 1000    ┆ 2018-01 ┆ Female ┆ 39  ┆ Single  ┆ Oklaho ┆ Platin ┆ Unempl ┆ Card   ┆ 0      ┆ 1557.5 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ ma     ┆ um     ┆ oyment ┆        ┆        ┆        │
│         ┆ 04:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1002    ┆ 2018-01 ┆ Female ┆ 53  ┆ Married ┆ Iowa   ┆ Basic  ┆ self-e ┆ PayPal ┆ 1      ┆ 2640.9 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆        ┆ mploye ┆        ┆        ┆ 6      │
│         ┆ 14:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1004    ┆ 2018-01 ┆ Female ┆ 36  ┆ Married ┆ Texas  ┆ Platin ┆ Employ ┆ Card   ┆ 0      ┆ 1608.0 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆ um     ┆ ees    ┆        ┆        ┆ 1      │
│         ┆ 25:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1006    ┆ 2018-01 ┆ Female ┆ 55  ┆ Single  ┆ Ohio   ┆ Silver ┆ Unempl ┆ PayPal ┆ 0      ┆ 1553.6 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆        ┆ oyment ┆        ┆        ┆ 1      │
│         ┆ 29:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1007    ┆ 2018-01 ┆ Female ┆ 35  ┆ Married ┆ Hawaii ┆ Basic  ┆ worker ┆ Other  ┆ 1      ┆ 1851.5 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆        ┆ s      ┆        ┆        ┆ 8      │
│         ┆ 29:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ …       ┆ …       ┆ …      ┆ …   ┆ …       ┆ …      ┆ …      ┆ …      ┆ …      ┆ …      ┆ …      │
│ 1000992 ┆ 2025-01 ┆ Female ┆ 25  ┆ Married ┆ Nebras ┆ Basic  ┆ worker ┆ PayPal ┆ 0      ┆ 1735.0 │
│         ┆ -30 23: ┆        ┆     ┆         ┆ ka     ┆        ┆ s      ┆        ┆        ┆ 7      │
│         ┆ 23:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000993 ┆ 2025-01 ┆ Female ┆ 18  ┆ Married ┆ Alabam ┆ Silver ┆ worker ┆ PayPal ┆ null   ┆ 2091.7 │
│         ┆ -30 23: ┆        ┆     ┆         ┆ a      ┆        ┆ s      ┆        ┆        ┆ 3      │
│         ┆ 29:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000994 ┆ 2025-01 ┆ Female ┆ 51  ┆ Single  ┆ West   ┆ Platin ┆ Unempl ┆ Card   ┆ 0      ┆ 522.04 │
│         ┆ -30 23: ┆        ┆     ┆         ┆ Virgin ┆ um     ┆ oyment ┆        ┆        ┆        │
│         ┆ 29:00   ┆        ┆     ┆         ┆ ia     ┆        ┆        ┆        ┆        ┆        │
│ 1000997 ┆ 2025-01 ┆ Female ┆ 61  ┆ Married ┆ Kansas ┆ Basic  ┆ self-e ┆ Other  ┆ 1      ┆ 1699.3 │
│         ┆ -30 23: ┆        ┆     ┆         ┆        ┆        ┆ mploye ┆        ┆        ┆ 1      │
│         ┆ 47:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1000998 ┆ 2025-01 ┆ Female ┆ 68  ┆ Married ┆ Utah   ┆ Basic  ┆ Employ ┆ PayPal ┆ 1      ┆ 208.26 │
│         ┆ -30 23: ┆        ┆     ┆         ┆        ┆        ┆ ees    ┆        ┆        ┆        │
│         ┆ 52:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
└─────────┴─────────┴────────┴─────┴─────────┴────────┴────────┴────────┴────────┴────────┴────────┘

**Get Customers Aged Between 25 and 40**

In [27]:
df.filter((pl.col("Age") >= 25) & (pl.col("Age") <= 40))

shape: (247_320, 11)
┌─────────┬─────────┬────────┬─────┬─────────┬────────┬────────┬────────┬────────┬────────┬────────┐
│ Transac ┆ Transac ┆ Gender ┆ Age ┆ Marital ┆ State_ ┆ Segmen ┆ Employ ┆ Paymen ┆ Refera ┆ Amount │
│ tion_ID ┆ tion_da ┆ ---    ┆ --- ┆ _status ┆ names  ┆ t      ┆ ees_st ┆ t_meth ┆ l      ┆ _spent │
│ ---     ┆ te      ┆ str    ┆ i64 ┆ ---     ┆ ---    ┆ ---    ┆ atus   ┆ od     ┆ ---    ┆ ---    │
│ i64     ┆ ---     ┆        ┆     ┆ str     ┆ str    ┆ str    ┆ ---    ┆ ---    ┆ i64    ┆ f64    │
│         ┆ datetim ┆        ┆     ┆         ┆        ┆        ┆ str    ┆ str    ┆        ┆        │
│         ┆ e[μs]   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
╞═════════╪═════════╪════════╪═════╪═════════╪════════╪════════╪════════╪════════╪════════╪════════╡
│ 1000    ┆ 2018-01 ┆ Female ┆ 39  ┆ Single  ┆ Oklaho ┆ Platin ┆ Unempl ┆ Card   ┆ 0      ┆ 1557.5 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ ma     ┆ um     ┆ oyment ┆        ┆        ┆        │
│         ┆ 04:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1001    ┆ 2018-01 ┆ Male   ┆ 34  ┆ Married ┆ Hawaii ┆ Basic  ┆ worker ┆ PayPal ┆ 1      ┆ 153.55 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆        ┆ s      ┆        ┆        ┆        │
│         ┆ 06:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1003    ┆ 2018-01 ┆ Male   ┆ 33  ┆ Married ┆ Wiscon ┆ Basic  ┆ self-e ┆ Card   ┆ 1      ┆ 293.58 │
│         ┆ -01 00: ┆        ┆     ┆         ┆ sin    ┆        ┆ mploye ┆        ┆        ┆        │
│         ┆ 23:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1004    ┆ 2018-01 ┆ Female ┆ 36  ┆ Married ┆ Texas  ┆ Platin ┆ Employ ┆ Card   ┆ 0      ┆ 1608.0 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆ um     ┆ ees    ┆        ┆        ┆ 1      │
│         ┆ 25:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1007    ┆ 2018-01 ┆ Female ┆ 35  ┆ Married ┆ Hawaii ┆ Basic  ┆ worker ┆ Other  ┆ 1      ┆ 1851.5 │
│         ┆ -01 00: ┆        ┆     ┆         ┆        ┆        ┆ s      ┆        ┆        ┆ 8      │
│         ┆ 29:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ …       ┆ …       ┆ …      ┆ …   ┆ …       ┆ …      ┆ …      ┆ …      ┆ …      ┆ …      ┆ …      │
│ 1000978 ┆ 2025-01 ┆ Female ┆ 31  ┆ Single  ┆ New    ┆ Silver ┆ self-e ┆ PayPal ┆ 1      ┆ null   │
│         ┆ -30 22: ┆        ┆     ┆         ┆ York   ┆        ┆ mploye ┆        ┆        ┆        │
│         ┆ 33:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1000979 ┆ 2025-01 ┆ Female ┆ 40  ┆ Single  ┆ Alaska ┆ Platin ┆ worker ┆ Other  ┆ 1      ┆ null   │
│         ┆ -30 22: ┆        ┆     ┆         ┆        ┆ um     ┆ s      ┆        ┆        ┆        │
│         ┆ 36:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
│ 1000985 ┆ 2025-01 ┆ Female ┆ 37  ┆ Married ┆ Nevada ┆ Silver ┆ self-e ┆ Other  ┆ 0      ┆ 507.25 │
│         ┆ -30 23: ┆        ┆     ┆         ┆        ┆        ┆ mploye ┆        ┆        ┆        │
│         ┆ 11:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1000988 ┆ 2025-01 ┆ Female ┆ 39  ┆ Single  ┆ Florid ┆ Basic  ┆ self-e ┆ Card   ┆ 1      ┆ 1305.5 │
│         ┆ -30 23: ┆        ┆     ┆         ┆ a      ┆        ┆ mploye ┆        ┆        ┆ 2      │
│         ┆ 19:00   ┆        ┆     ┆         ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1000992 ┆ 2025-01 ┆ Female ┆ 25  ┆ Married ┆ Nebras ┆ Basic  ┆ worker ┆ PayPal ┆ 0      ┆ 1735.0 │
│         ┆ -30 23: ┆        ┆     ┆         ┆ ka     ┆        ┆ s      ┆        ┆        ┆ 7      │
│         ┆ 23:00   ┆        ┆     ┆         ┆        ┆        ┆        ┆        ┆        ┆        │
└─────────┴─────────┴────────┴─────┴─────────┴────────┴────────┴────────┴────────┴────────┴────────┘

## 4. Data Cleaning and Preprocessing

### Handling Missing Values

**Checking for Missing Values**

In [ ]:
df_clean = df
df_clean.null_count()

shape: (1, 11)
┌─────────┬────────┬────────┬───────┬────────┬────────┬────────┬────────┬────────┬────────┬────────┐
│ Transac ┆ Transa ┆ Gender ┆ Age   ┆ Marita ┆ State_ ┆ Segmen ┆ Employ ┆ Paymen ┆ Refera ┆ Amount │
│ tion_ID ┆ ction_ ┆ ---    ┆ ---   ┆ l_stat ┆ names  ┆ t      ┆ ees_st ┆ t_meth ┆ l      ┆ _spent │
│ ---     ┆ date   ┆ u32    ┆ u32   ┆ us     ┆ ---    ┆ ---    ┆ atus   ┆ od     ┆ ---    ┆ ---    │
│ u32     ┆ ---    ┆        ┆       ┆ ---    ┆ u32    ┆ u32    ┆ ---    ┆ ---    ┆ u32    ┆ u32    │
│         ┆ u32    ┆        ┆       ┆ u32    ┆        ┆        ┆ u32    ┆ u32    ┆        ┆        │
╞═════════╪════════╪════════╪═══════╪════════╪════════╪════════╪════════╪════════╪════════╪════════╡
│ 0       ┆ 0      ┆ 11052  ┆ 16654 ┆ 0      ┆ 0      ┆ 0      ┆ 10225  ┆ 0      ┆ 61812  ┆ 96065  │
└─────────┴────────┴────────┴───────┴────────┴────────┴────────┴────────┴────────┴────────┴────────┘

**Dropping Missing Values**

In [ ]:
df_clean = df.drop("Referal")  # Removes the 'Referal' column
df_clean.head(4)

shape: (4, 10)
┌──────────┬──────────┬────────┬─────┬──────────┬──────────┬─────────┬─────────┬─────────┬─────────┐
│ Transact ┆ Transact ┆ Gender ┆ Age ┆ Marital_ ┆ State_na ┆ Segment ┆ Employe ┆ Payment ┆ Amount_ │
│ ion_ID   ┆ ion_date ┆ ---    ┆ --- ┆ status   ┆ mes      ┆ ---     ┆ es_stat ┆ _method ┆ spent   │
│ ---      ┆ ---      ┆ str    ┆ i64 ┆ ---      ┆ ---      ┆ str     ┆ us      ┆ ---     ┆ ---     │
│ i64      ┆ datetime ┆        ┆     ┆ str      ┆ str      ┆         ┆ ---     ┆ str     ┆ f64     │
│          ┆ [μs]     ┆        ┆     ┆          ┆          ┆         ┆ str     ┆         ┆         │
╞══════════╪══════════╪════════╪═════╪══════════╪══════════╪═════════╪═════════╪═════════╪═════════╡
│ 1000     ┆ 2018-01- ┆ Female ┆ 39  ┆ Single   ┆ Oklahoma ┆ Platinu ┆ Unemplo ┆ Card    ┆ 1557.5  │
│          ┆ 01       ┆        ┆     ┆          ┆          ┆ m       ┆ yment   ┆         ┆         │
│          ┆ 00:04:00 ┆        ┆     ┆          ┆          ┆         ┆         ┆         ┆         │
│ 1001     ┆ 2018-01- ┆ Male   ┆ 34  ┆ Married  ┆ Hawaii   ┆ Basic   ┆ workers ┆ PayPal  ┆ 153.55  │
│          ┆ 01       ┆        ┆     ┆          ┆          ┆         ┆         ┆         ┆         │
│          ┆ 00:06:00 ┆        ┆     ┆          ┆          ┆         ┆         ┆         ┆         │
│ 1002     ┆ 2018-01- ┆ Female ┆ 53  ┆ Married  ┆ Iowa     ┆ Basic   ┆ self-em ┆ PayPal  ┆ 2640.96 │
│          ┆ 01       ┆        ┆     ┆          ┆          ┆         ┆ ployed  ┆         ┆         │
│          ┆ 00:14:00 ┆        ┆     ┆          ┆          ┆         ┆         ┆         ┆         │
│ 1003     ┆ 2018-01- ┆ Male   ┆ 33  ┆ Married  ┆ Wisconsi ┆ Basic   ┆ self-em ┆ Card    ┆ 293.58  │
│          ┆ 01       ┆        ┆     ┆          ┆ n        ┆         ┆ ployed  ┆         ┆         │
│          ┆ 00:23:00 ┆        ┆     ┆          ┆          ┆         ┆         ┆         ┆         │
└──────────┴──────────┴────────┴─────┴──────────┴──────────┴─────────┴─────────┴─────────┴─────────┘

In [ ]:
df_clean.drop_nulls(subset=["Gender"])

shape: (988_948, 10)
┌──────────┬──────────┬────────┬─────┬──────────┬──────────┬─────────┬─────────┬─────────┬─────────┐
│ Transact ┆ Transact ┆ Gender ┆ Age ┆ Marital_ ┆ State_na ┆ Segment ┆ Employe ┆ Payment ┆ Amount_ │
│ ion_ID   ┆ ion_date ┆ ---    ┆ --- ┆ status   ┆ mes      ┆ ---     ┆ es_stat ┆ _method ┆ spent   │
│ ---      ┆ ---      ┆ str    ┆ i64 ┆ ---      ┆ ---      ┆ str     ┆ us      ┆ ---     ┆ ---     │
│ i64      ┆ datetime ┆        ┆     ┆ str      ┆ str      ┆         ┆ ---     ┆ str     ┆ f64     │
│          ┆ [μs]     ┆        ┆     ┆          ┆          ┆         ┆ str     ┆         ┆         │
╞══════════╪══════════╪════════╪═════╪══════════╪══════════╪═════════╪═════════╪═════════╪═════════╡
│ 1000     ┆ 2018-01- ┆ Female ┆ 39  ┆ Single   ┆ Oklahoma ┆ Platinu ┆ Unemplo ┆ Card    ┆ 1557.5  │
│          ┆ 01       ┆        ┆     ┆          ┆          ┆ m       ┆ yment   ┆         ┆         │
│          ┆ 00:04:00 ┆        ┆     ┆          ┆          ┆         ┆         ┆         ┆         │
│ 1001     ┆ 2018-01- ┆ Male   ┆ 34  ┆ Married  ┆ Hawaii   ┆ Basic   ┆ workers ┆ PayPal  ┆ 153.55  │
│          ┆ 01       ┆        ┆     ┆          ┆          ┆         ┆         ┆         ┆         │
│          ┆ 00:06:00 ┆        ┆     ┆          ┆          ┆         ┆         ┆         ┆         │
│ 1002     ┆ 2018-01- ┆ Female ┆ 53  ┆ Married  ┆ Iowa     ┆ Basic   ┆ self-em ┆ PayPal  ┆ 2640.96 │
│          ┆ 01       ┆        ┆     ┆          ┆          ┆         ┆ ployed  ┆         ┆         │
│          ┆ 00:14:00 ┆        ┆     ┆          ┆          ┆         ┆         ┆         ┆         │
│ 1003     ┆ 2018-01- ┆ Male   ┆ 33  ┆ Married  ┆ Wisconsi ┆ Basic   ┆ self-em ┆ Card    ┆ 293.58  │
│          ┆ 01       ┆        ┆     ┆          ┆ n        ┆         ┆ ployed  ┆         ┆         │
│          ┆ 00:23:00 ┆        ┆     ┆          ┆          ┆         ┆         ┆         ┆         │
│ 1004     ┆ 2018-01- ┆ Female ┆ 36  ┆ Married  ┆ Texas    ┆ Platinu ┆ Employe ┆ Card    ┆ 1608.01 │
│          ┆ 01       ┆        ┆     ┆          ┆          ┆ m       ┆ es      ┆         ┆         │
│          ┆ 00:25:00 ┆        ┆     ┆          ┆          ┆         ┆         ┆         ┆         │
│ …        ┆ …        ┆ …      ┆ …   ┆ …        ┆ …        ┆ …       ┆ …       ┆ …       ┆ …       │
│ 1000995  ┆ 2025-01- ┆ Male   ┆ 45  ┆ Single   ┆ Arkansas ┆ Gold    ┆ Employe ┆ PayPal  ┆ 1762.76 │
│          ┆ 30       ┆        ┆     ┆          ┆          ┆         ┆ es      ┆         ┆         │
│          ┆ 23:43:00 ┆        ┆     ┆          ┆          ┆         ┆         ┆         ┆         │
│ 1000996  ┆ 2025-01- ┆ Female ┆ 75  ┆ Married  ┆ Virginia ┆ Silver  ┆ workers ┆ Other   ┆ 31.41   │
│          ┆ 30       ┆        ┆     ┆          ┆          ┆         ┆         ┆         ┆         │
│          ┆ 23:45:00 ┆        ┆     ┆          ┆          ┆         ┆         ┆         ┆         │
│ 1000997  ┆ 2025-01- ┆ Female ┆ 61  ┆ Married  ┆ Kansas   ┆ Basic   ┆ self-em ┆ Other   ┆ 1699.31 │
│          ┆ 30       ┆        ┆     ┆          ┆          ┆         ┆ ployed  ┆         ┆         │
│          ┆ 23:47:00 ┆        ┆     ┆          ┆          ┆         ┆         ┆         ┆         │
│ 1000998  ┆ 2025-01- ┆ Female ┆ 68  ┆ Married  ┆ Utah     ┆ Basic   ┆ Employe ┆ PayPal  ┆ 208.26  │
│          ┆ 30       ┆        ┆     ┆          ┆          ┆         ┆ es      ┆         ┆         │
│          ┆ 23:52:00 ┆        ┆     ┆          ┆          ┆         ┆         ┆         ┆         │
│ 1000999  ┆ 2025-01- ┆ Male   ┆ 55  ┆ Single   ┆ Nevada   ┆ Missing ┆ workers ┆ PayPal  ┆ 2063.92 │
│          ┆ 30       ┆        ┆     ┆          ┆          ┆         ┆         ┆         ┆         │
│          ┆ 23:57:00 ┆        ┆     ┆          ┆          ┆         ┆         ┆         ┆         │
└──────────┴──────────┴────────┴─────┴──────────┴──────────┴─────────┴─────────┴─────────┴─────────┘

**Filling Missing Values (Imputation)**

In [ ]:
# replace missing values in Gender with "Unknown":
df_clean = df_clean.with_columns(pl.col("Gender").fill_null("Unknown"))

In [ ]:
# replace missing values with zero or another fixed value:
df_clean = df_clean.with_columns(pl.col("Amount_spent").fill_null(0))

#### Filling with Statistical Measures

**Replace missing values in Age with the median:**

In [ ]:
median_age = df_clean["Age"].median()
df_clean = df_clean.with_columns(pl.col("Age").fill_null(median_age))

**Replace missing values in Amount_spent with the mean:**

In [ ]:
df_clean = df
mean_spent = df_clean["Amount_spent"].mean()
df_clean = df_clean.with_columns(pl.col("Amount_spent").fill_null(mean_spent))

**Replace missing values in Gender with the most frequent value (mode):**

In [ ]:
mode_gender = df["Gender"].mode()[0]  # Get most common value
df = df.with_columns(pl.col("Gender").fill_null(mode_gender))

**Forward Filling** use the previous row’s value to fill the missing value

In [ ]:
df_clean = df
df_clean = df_clean.with_columns(pl.col("Amount_spent").fill_null(strategy="forward"))

**Backward fill** (use the next row’s value to fill the missing value):

In [ ]:
df_clean = df
df = df.with_columns(pl.col("Amount_spent").fill_null(strategy="backward"))

### Data Type Conversion

**Checking Data Types**

In [ ]:
df.schema

Schema([('Transaction_ID', Int64),
        ('Transaction_date', Datetime(time_unit='us', time_zone=None)),
        ('Gender', String),
        ('Age', Int64),
        ('Marital_status', String),
        ('State_names', String),
        ('Segment', String),
        ('Employees_status', String),
        ('Payment_method', String),
        ('Referal', Int64),
        ('Amount_spent', Float64)])

**Convert Referal from Int64 to String**

In [ ]:
df = df.with_columns(pl.col("Referal").cast(pl.Utf8))  # Convert to String for better readability

In [ ]:
df.schema

Schema([('Transaction_ID', Int64),
        ('Transaction_date', Datetime(time_unit='us', time_zone=None)),
        ('Gender', String),
        ('Age', Int64),
        ('Marital_status', String),
        ('State_names', String),
        ('Segment', String),
        ('Employees_status', String),
        ('Payment_method', String),
        ('Referal', String),
        ('Amount_spent', Float64)])

**Convert Age from Int64 to Float64**

In [ ]:
df = df.with_columns(pl.col("Age").cast(pl.Float64))

**Format Transaction_date to a standard YYYY-MM-DD format**

In [ ]:
df = df.with_columns(pl.col("Transaction_date").dt.strftime("%Y-%m-%d"))

In [ ]:
df.head()

shape: (5, 11)
┌─────────┬─────────┬────────┬──────┬────────┬────────┬────────┬────────┬────────┬────────┬────────┐
│ Transac ┆ Transac ┆ Gender ┆ Age  ┆ Marita ┆ State_ ┆ Segmen ┆ Employ ┆ Paymen ┆ Refera ┆ Amount │
│ tion_ID ┆ tion_da ┆ ---    ┆ ---  ┆ l_stat ┆ names  ┆ t      ┆ ees_st ┆ t_meth ┆ l      ┆ _spent │
│ ---     ┆ te      ┆ str    ┆ f64  ┆ us     ┆ ---    ┆ ---    ┆ atus   ┆ od     ┆ ---    ┆ ---    │
│ i64     ┆ ---     ┆        ┆      ┆ ---    ┆ str    ┆ str    ┆ ---    ┆ ---    ┆ str    ┆ f64    │
│         ┆ str     ┆        ┆      ┆ str    ┆        ┆        ┆ str    ┆ str    ┆        ┆        │
╞═════════╪═════════╪════════╪══════╪════════╪════════╪════════╪════════╪════════╪════════╪════════╡
│ 1000    ┆ 2018-01 ┆ Female ┆ 39.0 ┆ Single ┆ Oklaho ┆ Platin ┆ Unempl ┆ Card   ┆ 0      ┆ 1557.5 │
│         ┆ -01     ┆        ┆      ┆        ┆ ma     ┆ um     ┆ oyment ┆        ┆        ┆        │
│ 1001    ┆ 2018-01 ┆ Male   ┆ 34.0 ┆ Marrie ┆ Hawaii ┆ Basic  ┆ worker ┆ PayPal ┆ 1      ┆ 153.55 │
│         ┆ -01     ┆        ┆      ┆ d      ┆        ┆        ┆ s      ┆        ┆        ┆        │
│ 1002    ┆ 2018-01 ┆ Female ┆ 53.0 ┆ Marrie ┆ Iowa   ┆ Basic  ┆ self-e ┆ PayPal ┆ 1      ┆ 2640.9 │
│         ┆ -01     ┆        ┆      ┆ d      ┆        ┆        ┆ mploye ┆        ┆        ┆ 6      │
│         ┆         ┆        ┆      ┆        ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1003    ┆ 2018-01 ┆ Male   ┆ 33.0 ┆ Marrie ┆ Wiscon ┆ Basic  ┆ self-e ┆ Card   ┆ 1      ┆ 293.58 │
│         ┆ -01     ┆        ┆      ┆ d      ┆ sin    ┆        ┆ mploye ┆        ┆        ┆        │
│         ┆         ┆        ┆      ┆        ┆        ┆        ┆ d      ┆        ┆        ┆        │
│ 1004    ┆ 2018-01 ┆ Female ┆ 36.0 ┆ Marrie ┆ Texas  ┆ Platin ┆ Employ ┆ Card   ┆ 0      ┆ 1608.0 │
│         ┆ -01     ┆        ┆      ┆ d      ┆        ┆ um     ┆ ees    ┆        ┆        ┆ 1      │
└─────────┴─────────┴────────┴──────┴────────┴────────┴────────┴────────┴────────┴────────┴────────┘

## 5. Advanced Data Transformations

#### GroupBy and Aggregations

**To calculate total spending per gender:**

In [ ]:
df.group_by("Gender").agg(pl.sum("Amount_spent"))

shape: (2, 2)
┌────────┬──────────────┐
│ Gender ┆ Amount_spent │
│ ---    ┆ ---          │
│ str    ┆ f64          │
╞════════╪══════════════╡
│ Female ┆ 7.8495e8     │
│ Male   ┆ 6.3171e8     │
└────────┴──────────────┘

**To calculate total amount spent by Gender and Payment Method:**

In [ ]:
df.group_by(["Gender", "Payment_method"]) \
  .agg(pl.sum("Amount_spent").cast(pl.Int64)) \
  .sort(["Gender", "Payment_method"])

shape: (6, 3)
┌────────┬────────────────┬──────────────┐
│ Gender ┆ Payment_method ┆ Amount_spent │
│ ---    ┆ ---            ┆ ---          │
│ str    ┆ str            ┆ i64          │
╞════════╪════════════════╪══════════════╡
│ Female ┆ Card           ┆ 251092780    │
│ Female ┆ Other          ┆ 186728178    │
│ Female ┆ PayPal         ┆ 347128441    │
│ Male   ┆ Card           ┆ 166060495    │
│ Male   ┆ Other          ┆ 156921359    │
│ Male   ┆ PayPal         ┆ 308726924    │
└────────┴────────────────┴──────────────┘

**To calculate multiple statistics:**

In [ ]:
df.group_by("Gender").agg([
    pl.sum("Amount_spent").alias("Total Spent"),
    pl.mean("Age").alias("Average Age"),
    pl.count().alias("Customer Count")
])

<ipython-input-33-66093c64b01b>:4: DeprecationWarning: `pl.count()` is deprecated. Please use `pl.len()` instead.
  pl.count().alias("Customer Count")

shape: (2, 4)
┌────────┬─────────────┬─────────────┬────────────────┐
│ Gender ┆ Total Spent ┆ Average Age ┆ Customer Count │
│ ---    ┆ ---         ┆ ---         ┆ ---            │
│ str    ┆ f64         ┆ f64         ┆ u32            │
╞════════╪═════════════╪═════════════╪════════════════╡
│ Female ┆ 7.8495e8    ┆ 46.773035   ┆ 550883         │
│ Male   ┆ 6.3171e8    ┆ 46.494462   ┆ 449117         │
└────────┴─────────────┴─────────────┴────────────────┘

### Pivoting DataFrames

In [ ]:
df.pivot(
    values="Amount_spent",
    index="Gender",
    columns="Payment_method",
    aggregate_function="sum"
)

<ipython-input-34-804a72318bef>:1: DeprecationWarning: The argument `columns` for `DataFrame.pivot` is deprecated. It has been renamed to `on`.
  df.pivot(

shape: (2, 4)
┌────────┬──────────┬──────────┬──────────┐
│ Gender ┆ Card     ┆ PayPal   ┆ Other    │
│ ---    ┆ ---      ┆ ---      ┆ ---      │
│ str    ┆ f64      ┆ f64      ┆ f64      │
╞════════╪══════════╪══════════╪══════════╡
│ Female ┆ 2.5109e8 ┆ 3.4713e8 ┆ 1.8673e8 │
│ Male   ┆ 1.6606e8 ┆ 3.0873e8 ┆ 1.5692e8 │
└────────┴──────────┴──────────┴──────────┘

## 6. Performance Optimization Techniques

### Using LazyFrames for Efficient Execution

In [46]:

df_lazy = pl.scan_csv("/content/drive/MyDrive/polars_dataset/customer_spending_1M_2018_2025.csv")

In [47]:
df_final = df_lazy.filter(pl.col("Amount_spent") > 100).collect()

### Memory Management (Efficient Data Types)

**Converting Data Types for Optimization**

In [49]:
df = pl.read_csv(
    "/content/drive/MyDrive/polars_dataset/customer_spending_1M_2018_2025.csv",
    schema_overrides={"Transaction_ID": pl.Int32, "Amount_spent": pl.Float32}
)

**To check how much memory a DataFrame consumes:**

In [54]:
df.estimated_size(unit = 'mb')

86.5524206161499

### Multi-threaded Processing

**Parallel Processing in Aggregations**

In [55]:
df.group_by("Gender").agg(pl.sum("Amount_spent"))

shape: (3, 2)
┌────────┬──────────────┐
│ Gender ┆ Amount_spent │
│ ---    ┆ ---          │
│ str    ┆ f32          │
╞════════╪══════════════╡
│ Female ┆ 6.91282688e8 │
│ Male   ┆ 5.74917952e8 │
│ null   ┆ 1.388334e7   │
└────────┴──────────────┘

In [56]:
pl.Config.set_tbl_rows(4)  # Adjusts how many rows are processed in parallel

polars.config.Config

## 7. SQL-like Queries with Polars

**Running SQL Queries in Polars**

In [57]:
from polars import SQLContext

sql_context = SQLContext()

# Register DataFrame as a SQL table
sql_context.register("customers", df)

# Run SQL query
result = sql_context.execute("SELECT Gender, SUM(Amount_spent) FROM customers GROUP BY Gender")

# Convert to Polars DataFrame
df_result = result.collect()
print(df_result)

shape: (3, 2)
┌────────┬──────────────┐
│ Gender ┆ Amount_spent │
│ ---    ┆ ---          │
│ str    ┆ f32          │
╞════════╪══════════════╡
│ Male   ┆ 5.74917952e8 │
│ null   ┆ 1.388334e7   │
│ Female ┆ 6.91282688e8 │
└────────┴──────────────┘

**Filtering and Aggregation with SQL Queries**

In [58]:
result = sql_context.execute("""
    SELECT Gender, Payment_method, COUNT(*) AS Total_Transactions, AVG(Amount_spent) AS Avg_Spent
    FROM customers
    WHERE Amount_spent > 50
    GROUP BY Gender, Payment_method
    ORDER BY Avg_Spent DESC
""").collect()

In [60]:
print(result)

shape: (9, 4)
┌────────┬────────────────┬────────────────────┬─────────────┐
│ Gender ┆ Payment_method ┆ Total_Transactions ┆ Avg_Spent   │
│ ---    ┆ ---            ┆ ---                ┆ ---         │
│ str    ┆ str            ┆ u32                ┆ f64         │
╞════════╪════════════════╪════════════════════╪═════════════╡
│ Female ┆ Other          ┆ 113033             ┆ 1488.901259 │
│ Male   ┆ PayPal         ┆ 195568             ┆ 1462.995991 │
│ …      ┆ …              ┆ …                  ┆ …           │
│ Male   ┆ Card           ┆ 107065             ┆ 1350.71054  │
│ null   ┆ Other          ┆ 1852               ┆ 1255.327484 │
└────────┴────────────────┴────────────────────┴─────────────┘